                    <div class="row" id="blocks_to_append">

                     </div>
                        <div class="row">
                                <button type="button" class="btn btn-light" id="refresh"{{action 'Refresh'}}>Сбросить</button>
				          <button type="button" class="btn btn-light" id="save" {{action 'CheckSelected'}}>Сохранить</button>
                        </div>          
			        <div class="row justify-content-center"><p>Доступные программы</p></div>	
                    <div class="row">
                          
				    <div class="avaliable" id="avaliable">	         
                        {{#drag-class}}
                               
                        {{/drag-class}}	    
			    	</div>
                    </div>
                 