
				<div class="list_of_semesters">
					
					<table id="sem">
						<tr>
							<th>Семестр</th>
							<th>Даты</th>
						</tr>
			
						<tr>

							<th><a href="#"{{action 'ChangeSemester'}} id="1">1 курс 1 семестр</a></th>
						
							<th> с 1.09.17 по 31.12.17</th>
						</tr>
						<tr>
						
							<th><a href="#"{{action 'ChangeSemester'}} id="2">1 курс 2 семестр</a></th>
							<th> с 01.01.18 по 31.05.18</th>
						</tr>
				
					</table>
				</div>